form {
width: 70%;
padding: 32px;
border-radius: 10px;
box-shadow: 0 4px 16px #ccc;
letter-spacing: 1px;
text-align: center;
margin: auto;
background-color: #b7e289;
font-family:Century Gothic;
 }

body {font-size: 300%;
background: url("/static/images/money1.png");
font-family:Century Gothic;}

input[type=submit] {
padding: 10px 20px;
border: none;
border-radius: 5px;
outline: none;
font-size: 320%;
margin-left: 125%;
margin-top: 120%;
background-color: #307d51;
color: white;
 }

 input[type=password] {
 font-size: 70%;
 padding: 20px 20px 20px 20px;
 }
 input[type=text] {
 font-size: 70%;
 padding: 20px 20px 20px 20px;
 }

a {
color: white;
text-decoration: none;
padding: 1px 3px 1px 3px;
border-radius: 3px;
background: #68b174;
box-shadow: 0 -3px rgb(53,167,110) inset;
margin-right: 3%;}

p {margin-top: 17%;}

h1 {
font-family:segoe script;}