.green {
width: 70%;
padding: 32px;
border-radius: 10px;
box-shadow: 0 4px 16px #ccc;
letter-spacing: 1px;
text-align: center;
margin: auto;
background-color: #b7e289;
font-family:Century Gothic;
}

body {
font-size: 300%;
background: url("/static/images/money2.png");}

a {
display: inline-block;
color: white;
text-decoration: none;
padding: 9px 9px 9px 9px;
border-radius: 3px;
background: #68b174;
box-shadow: 0 -3px rgb(53,167,110) inset;
margin: 3%;}

button {
border: none;
color: white;
text-decoration: none;
padding: 9px 9px 9px 9px;
border-radius: 3px;
background: #68b174;
box-shadow: 0 -3px rgb(53,167,110) inset;
font-size: 100%;
font-family:Century Gothic;}

input {
font-size: 100%;
width: 80%;
padding: 20px 20px 20px 20px;
margin: 5%;}

#donutchart {margin-left: -4%; margin-top: -4%;}

.edinitsa {
font-size: 70%;
line-height: 1px;
margin: auto;
margin-top: 3%;
border: 1px solid #68b174;
width: 60%;}