<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Hello, {{ user.username|default:'Guest' }}</h1>

    <p> Welcome to the Our site</p>
    <div>
      {% if user.is_authenticated %}
                <form method="post">
    {% csrf_token %}
        <a href="{% url 'logout' %}">Logout</a>
                    <button type="submit" name="but0">Отчёт</button>
            <div>
        <input type="number" id="edin" name="edin">
        <input type="text" id="SI" name="SI">
        <button type="submit" class="save btn btn-default">Save</button>
        <script>
            var edin = JSON.parse("{{edin|escapejs}}");
            var SI = JSON.parse("{{SI|escapejs}}");
            document.getElementById('edin').value = edin;
            document.getElementById('SI').value = SI;
        </script>
            </div>
    </form>
    </div>

      {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

  </body>
</html>