{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="{% static 'css/for_forms.css' %}">
</head>
<body>
{% block content %}
<nav class="green">
    <h1>New post</h1>
<a href="{% url 'menu' %}">Анализ</a>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
	<input type="datetime-local" id="datetimeLocalToday" name="data1">
        <button type="submit" class="save btn btn-default">Save</button>
<script>
document.getElementById('datetimeLocalToday').value = new Date().toJSON().slice(0,16);
</script>
    </form>
{% endblock %}
</nav>
</body>
</html>