<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var datas = JSON.parse("{{data|escapejs}}");
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Категория', 'Сумма'],
        datas[0],
        datas[1],
        datas[2],
        datas[3],
        datas[4],
        datas[5]
        ]);

        var options = {
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
    <div id="donutchart" style="width: 900px; height: 500px;"></div>
<a href="{% url 'for_forms' %}">Добавить запись</a>
<a href="{% url 'auth' %}">Профиль</a>
<h3>Общий расход:</h3>
<p>{{count}}</p>
<h3>Расходы</h3>
{% if count_1 > 0 %}
<p>{{count_1}} Продукты </p>
{% endif %}
{% if count_2 > 0 %}
<p>{{count_2}} Транспорт </p>
{% endif %}
{% if count_3 > 0 %}
<p>{{count_3}} Одежда </p>
{% endif %}
{% if count_4 > 0 %}
<p>{{count_4}} Коммунальные услуги </p>
{% endif %}
{% if count_5 > 0 %}
<p>{{count_5}} Аптеки </p>
{% endif %}
{% if count_6 > 0 %}
<p>{{count_6}} Дом </p>
{% endif %}
{% if count_7 > 0 %}

<h3>Доход</h3>
<p>{{count_7}}</p>
{% endif %}
</body>
</html>